name: Build 16KB Dobby
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Dobby (Stable)
        uses: actions/checkout@v4
        with:
          repository: jmpews/Dobby
          ref: v1.2.6
          submodules: recursive

      - name: Setup Android NDK r25c
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r25c

      - name: Compile
        run: |
          mkdir build && cd build
          cmake .. \
            -DCMAKE_SYSTEM_NAME=Android \
            -DCMAKE_ANDROID_ARCH_ABI=arm64-v8a \
            -DCMAKE_ANDROID_NDK=$ANDROID_NDK_HOME \
            -DCMAKE_BUILD_TYPE=Release \
            -DDOBBY_BUILD_PLUGINS=OFF \
            -DCMAKE_CXX_FLAGS="-Wl,-z,max-page-size=16384" \
            -DCMAKE_C_FLAGS="-Wl,-z,max-page-size=16384"
          make -j$(nproc)

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: libdobby-static
          path: build/libdobby.a
