name: Build 16KB Dobby
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: jmpews/Dobby
          submodules: recursive

      - name: Setup NDK r26b
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r26b

      - name: Force Fix and Compile
        run: |
          # File delete nahi karenge, bas khali kar denge taaki CMake error na de
          cat /dev/null > source/TrampolineBridge/ClosureTrampolineBridge/arm64/closure_bridge_arm64.asm
          cat /dev/null > source/TrampolineBridge/ClosureTrampolineBridge/arm64/closure_trampoline_arm64.asm
          
          mkdir build && cd build
          cmake .. \
            -DCMAKE_SYSTEM_NAME=Android \
            -DCMAKE_ANDROID_ARCH_ABI=arm64-v8a \
            -DCMAKE_ANDROID_NDK=$ANDROID_NDK_HOME \
            -DCMAKE_BUILD_TYPE=Release \
            -DDOBBY_BUILD_PLUGINS=OFF \
            -DCMAKE_CXX_FLAGS="-Wl,-z,max-page-size=16384" \
            -DCMAKE_C_FLAGS="-Wl,-z,max-page-size=16384"
          
          make dobby_static -j$(nproc)

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: libdobby-16kb
          path: build/libdobby.a
          
